flight-service/wsdl/ManageBookingServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.com.src" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.com.src" xmlns:intf="http://service.com.src" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.com.src" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getAvailableSeats">
    <complexType>
     <sequence>
      <element name="waktu" type="xsd:long"/>
      <element name="maskapai" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAvailableSeatsResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAvailableSeatsResponse">

      <wsdl:part element="impl:getAvailableSeatsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAvailableSeatsRequest">

      <wsdl:part element="impl:getAvailableSeats" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ManageBookingServiceImpl">

      <wsdl:operation name="getAvailableSeats">

         <wsdl:input message="impl:getAvailableSeatsRequest" name="getAvailableSeatsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAvailableSeatsResponse" name="getAvailableSeatsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ManageBookingServiceImplSoapBinding" type="impl:ManageBookingServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAvailableSeats">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAvailableSeatsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAvailableSeatsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ManageBookingServiceImplService">

      <wsdl:port binding="impl:ManageBookingServiceImplSoapBinding" name="ManageBookingServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/Flight/services/ManageBookingServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
